---
layout: default
title: Home
---

<h2 style="text-align: center;">Robots on Ice will return April 21st, 2024!</h2>
<p>To find out more as soon as possible please let us know you're interested <a href="https://docs.google.com/forms/d/e/1FAIpQLSf_4LlEnCcOKwEQyY1Kk4Px6OwGzVYrdDm-WaqGRzUd5plPIA/viewform?usp=sf_link">here.</a></p>
<!-- <p>If you're interested in helping organize or participate in the next one please reach out to: robotsoniceteam@gmail.com</p> -->
<p>Or specifically <a href="https://docs.google.com/forms/d/e/1FAIpQLSc8xwafRI_oW5Un6e7yo57qaqAelBM_oPZHrqM20Odf6w-3nQ/viewform?usp=sf_link">Sumo on Ice reply here</a></p>

<p>The Silicon Valley Ice Skating Association (SVISA) is hosting its fourth Robots on Ice event on April 21st, 2024. This holiday season the Palo Alto Winterlodge will be the exciting host of Silicon Valley Ice Skating Association’s (sv-isa.org) next instance of Robots on Ice. The inaugural event was held in January 2020, where we helped build excitement around robotics and had a great time.</p>

<div align="center">
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/xBDzIb2jnb4?si=gmhWVmnVgGjBlOX6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; mute;" allowfullscreen></iframe>
</div>

<p>SVISA is a nonprofit organization dedicated to fostering ice skating in the Silicon Valley community.</p>

{% if false %}
<h3>Headline Events</h3>

<table style="border:none;">
<tr>
  <td>
    12:30pm
  </td>
  <td>
    Welcome
  </td>
</tr>
<tr>
  <td>
    12:45pm
  </td>
  <td>
    Robots Demonstration on Ice
  </td>
</tr>
<tr>
  <td>
    1:15pm
  </td>
  <td>
    RC Cars on Ice Session 1
  </td>
</tr>
<tr>
  <td>
    1:30pm
  </td>
  <td>
    Skating Demonstration
  </td>
</tr>
<tr>
  <td>
    2:00pm
  </td>
  <td>
    RC Cars on Ice Session 2
  </td>
</tr>
<tr>
  <td>
    2:15pm
  </td>
  <td>
    Robot Demonstrations
  </td>
</tr>
<tr>
  <td>
    2:45pm
  </td>
  <td>
    RC Cars on Ice Session 3
  </td>
</tr>
<tr>
  <td>
    3:00pm
  </td>
  <td>
    <a href="/documentation/bots-n-beer">Bots & Beer Meetup at Off the Rails Brewing</a>
  </td>
</tr>


</table>
<h4 style="text-align: center;">If you're interested in attending: <a href="https://www.eventbrite.com/e/robots-on-ice-30-roi-2023-tickets-517209998027">Tickets are available</a> and for more information please follow the <a href="https://www.facebook.com/events/426351032218656">facebook event.</a></h4>
{% endif %}

<h1>Past Events and Updates</h1>

{% for post in paginator.posts %}

<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
</article>

{% endfor %}


<p style="margin-top:3cm;">
  With regards to attendee health and safety during the ongoing COVID-19 pandemic, Robots On Ice will be following <a href="https://covid19.sccgov.org/home">all applicable local public health guidelines for outdoor events</a> in order to provide as safe an environment as possible at Robots On Ice 2021.
</p>

{% comment %}
TODO(tfoote) REMOVED Pending other pages created

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>


{% endcomment %}
