---
layout: default
title: Home
---

<h1 style="text-align: center;">Robots on Ice is Returning February 26th 2023!</h1>

<h3 style="text-align: center;">Join us at the <a href="https://winterlodge.com/">Winterlodge in Palo Alto!</a></h3>


<div class="video-container">
  <iframe src="https://www.youtube.com/embed/-ne1g9ewTuk?controls=0&autoplay=1&mute=1&rel=0&playlist=-ne1g9ewTuk&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

{% if false %}
<h3>Headline Events</h3>

<table style="border:none;">
<tr>
  <td>
    12:30pm
  </td>
  <td>
    Welcome
  </td>
</tr>
<tr>
  <td>
    12:45pm
  </td>
  <td>
    Robots Demonstration on Ice
  </td>
</tr>
<tr>
  <td>
    1:15pm
  </td>
  <td>
    RC Cars on Ice Session 1
  </td>
</tr>
<tr>
  <td>
    1:30pm
  </td>
  <td>
    Skating Demonstration
  </td>
</tr>
<tr>
  <td>
    2:00pm
  </td>
  <td>
    RC Cars on Ice Session 2
  </td>
</tr>
<tr>
  <td>
    2:15pm
  </td>
  <td>
    Robot Demonstrations
  </td>
</tr>
<tr>
  <td>
    2:45pm
  </td>
  <td>
    RC Cars on Ice Session 3
  </td>
</tr>
<tr>
  <td>
    3:00pm
  </td>
  <td>
    <a href="/documentation/bots-n-beer">Bots & Beer Meetup at Off the Rails Brewing</a>
  </td>
</tr>


</table>
<h4 style="text-align: center;">If you're interested in attending: <a href="https://www.eventbrite.com/e/robots-on-ice-2021-tickets-191480642757">Tickets are available</a> and for more information please follow the <a href="https://www.facebook.com/events/426351032218656">facebook event.</a></h4>
{% endif %}

<h1>Updates</h1>

{% for post in paginator.posts %}

<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
</article>

{% endfor %}


<p style="margin-top:3cm;">
  With regards to attendee health and safety during the ongoing COVID-19 pandemic, Robots On Ice will be following <a href="https://covid19.sccgov.org/home">all applicable local public health guidelines for outdoor events</a> in order to provide as safe an environment as possible at Robots On Ice 2021.
</p>

{% comment %}
TODO(tfoote) REMOVED Pending other pages created

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>


{% endcomment %}
