---
layout: default
title: Home
---

<h1 style="text-align: center;">Robots on Ice is Returning February 26th 2023!</h1>

<h3 style="text-align: center;">Join us at the <a href="https://winterlodge.com/">Winterlodge in Palo Alto!</a></h3>

<p>
Robots on Ice 2023 was a huge success! More than 150 people turned out for the icy STEM event. Dozens of robots and their human counterparts attended. The event <a href="https://www.audacy.com/kcbsradio/news/local/silicon-valley-experiments-with-robots-on-ice-performance">was featured on KCBS</a> and <a href="https://paloaltoonline.com/news/2023/03/04/around-town-humans-and-robots-converge-on-ice-rink-at-stem-focused-event">in the Palo Alto Weekly</a>.

<br><br>Such robots as Dash One (A-1), Bittle, and Rover skidded and trotted across the ice. Bittle could be seen hopping on the ice. 3D printed, Rover, with its 4k cameras feed into an NVIDIA Jetson Xavier, was spotted gliding and sliding, accentuating the unique, fun, and challenging aspects of robot traversal on the ice. Sawppy x 2, outfitted with RasPi with plain Python code and sometimes an i7-laptop with ROS, could both be seen traversing the icy continent of the rink, leveraging it's rover like maneuvering skills. Dagger was also seen trotting and dancing on the ice with its brushless motors and compliant actuators.

<br><br>CEO of SVISA, Sarah Feldman, welcomed the crowd to Robots on Ice, with event MC Leya Aronoff. Followingly, Palo Alto City Councilman Greg Tanaka kicked off the festivities, with a keynote about the importance of STEM and Winterlodge ice rink in his family.

<br><br>Outstanding ice skating performances gracefully skated by the audience at the outdoor rink. The skating performances included adorable synchronized skating by the Tremors Aspire team, and the mechanical-seeming Robot Duo.

<br><br>The event inspired attendees so much that our organizers received emails after the event, that kids went home and immediately opened up robotics kits. Some started tinkering away, working on creating a new robot to bring to the next year's event.

<br><br>The robots on ice attendees and team can't wait for next year! Stay tuned for more information on where to register your bot or purchase a ticket.

<br><br>Warmly,
<br>-Robots on Ice 3.0 Team
</p>

<H2>Robots on Ice 3.0</H2>

<p>The Silicon Valley Ice Skating Association (SVISA) is hosting its third Robots on Ice event on February 26, 2023. This holiday season the Palo Alto Winterlodge will be the exciting host of Silicon Valley Ice Skating Association’s (sv-isa.org) next instance of Robots on Ice. The inaugural event was held in January 2020, where we helped build excitement around robotics and had a great time.</p>


<p>SVISA is a nonprofit organization dedicated to fostering ice skating in the Silicon Valley community.</p>

{% if false %}
<h3>Headline Events</h3>

<table style="border:none;">
<tr>
  <td>
    12:30pm
  </td>
  <td>
    Welcome
  </td>
</tr>
<tr>
  <td>
    12:45pm
  </td>
  <td>
    Robots Demonstration on Ice
  </td>
</tr>
<tr>
  <td>
    1:15pm
  </td>
  <td>
    RC Cars on Ice Session 1
  </td>
</tr>
<tr>
  <td>
    1:30pm
  </td>
  <td>
    Skating Demonstration
  </td>
</tr>
<tr>
  <td>
    2:00pm
  </td>
  <td>
    RC Cars on Ice Session 2
  </td>
</tr>
<tr>
  <td>
    2:15pm
  </td>
  <td>
    Robot Demonstrations
  </td>
</tr>
<tr>
  <td>
    2:45pm
  </td>
  <td>
    RC Cars on Ice Session 3
  </td>
</tr>
<tr>
  <td>
    3:00pm
  </td>
  <td>
    <a href="/documentation/bots-n-beer">Bots & Beer Meetup at Off the Rails Brewing</a>
  </td>
</tr>


</table>
<h4 style="text-align: center;">If you're interested in attending: <a href="https://www.eventbrite.com/e/robots-on-ice-30-roi-2023-tickets-517209998027">Tickets are available</a> and for more information please follow the <a href="https://www.facebook.com/events/426351032218656">facebook event.</a></h4>
{% endif %}

<h1>Past Events and Updates</h1>

{% for post in paginator.posts %}

<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
</article>

{% endfor %}


<p style="margin-top:3cm;">
  With regards to attendee health and safety during the ongoing COVID-19 pandemic, Robots On Ice will be following <a href="https://covid19.sccgov.org/home">all applicable local public health guidelines for outdoor events</a> in order to provide as safe an environment as possible at Robots On Ice 2021.
</p>

{% comment %}
TODO(tfoote) REMOVED Pending other pages created

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>


{% endcomment %}
